body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 1rem;
  height: auto;
  min-height: 100vh;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

#add-btn:focus {
  outline: none;
  box-shadow: none;
}

#submit-btn:focus {
  outline: none;
  box-shadow: none;
}

#theme-toggler {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  transition: ease-in 0.25s;
}

#theme-toggler:focus {
  outline: none;
  box-shadow: none;
}

.table {
  transition: 0.5s ease-in;
}

.dlt-btn {
  color: #ff0000;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-self: center;   
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
}
