body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 1rem;
  height: auto;
  min-height: 100vh;
}

.dlt-btn {
  color: #ff0000;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-self: center;   
}

.total-wrapper {
  display: flex;
  justify-content: space-between;
}
